html, body {
    height: 100%;
    letter-spacing: 1px;
    word-wrap: break-word;
}

.footer {
    text-align: center;
    font-size: 2em;
}

.footer a {
    color: inherit;
}

.inner {
    height: 100%;
}

.center {
    display: block;
    margin: auto;
}

.vcenter {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.profile-img {
    width: 80%;
    height: auto;

    border-radius: 50%;
    border: 3px solid white;
}

.nomargin {
    margin: 0;
    padding: 0;
}

.header {
    height: 700px;
    max-height: 700px;
}

.header-text {
    color: white;
    font-weight: bold;
    text-shadow: 0px 2px 6px rgba(0, 0, 0, 1);
}

.section-header-text {
    color: #000080;
    font-weight: bold;
    text-align: right;
}

.body-text  {
    color: #000000;
    font-size: medium;
}

.name-header-text {
    text-align: center;
}


.job-header-text {
    text-align: center;
}

.section-bg {
background: #000080; /* Old browsers */
background: -moz-linear-gradient(top,  #000080 0%, #31317c 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #000080 0%,#31317c 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #000080 0%,#31317c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000080', endColorstr='#31317c',GradientType=0 ); /* IE6-9 */

}

.section-bg .section-header-text {
    color: white;
}

.section-bg .body-text {
    color: white;
}

.card-title {
    font-size: x-large;
    font-weight: bold;
}

.card-subtitle {
    font-size: medium;
    font-style: italic;
}

.card-body {
    font-size: medium;
}

.card {
    margin-bottom: 20px;
    border-radius: 3px;
    border: 2px solid black;
}

.section-bg .card-title {
    color: white;
}

.section-bg .card-subtitle {
    color: #DEEEF5;
}

.section-bg  .card-body {
    color: #DEEEF5;
}

.section-bg .card {
    border: 2px solid white;
}

.desktop-only {
}

.no-mobile {
}

.card-image {
    height: auto;
    width: 240px;
    margin-bottom: 16px;
}

.mdc-card__horizontal-block {
    justify-content: unset;
}

@media screen and (max-width: 840px) {
    .desktop-only {
        display: none;
    }
}

@media screen and (max-width: 480px) {
    .name-header-text {
        text-align: center;
    }

    .job-header-text {
        text-align: center;
    }

    .section-header-text {
        transform:rotate(-180deg);
        writing-mode: vertical-rl;
    }

    .no-mobile {
        display: none;
    }
}
