<!DOCTYPE html>
<html class="mdc-typography">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <title>Michael Bao</title>
        <link rel="stylesheet"
              href="/static/node_modules/material-components-web/dist/material-components-web.css">
        <link rel="stylesheet"
              href="/static/style.css">
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
        <link rel="stylesheet" href="https://cdn.rawgit.com/jpswalsh/academicons/master/css/academicons.min.css">
        <script src="https://use.fontawesome.com/ffb634c76a.js"></script>
    </head>
    <body class="nomargin mdc-typography">
        <!-- Header -->
        <div class="mdc-layout-grid header nomargin section-bg">
            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4 mdc-layout-grid__cell--span-2-tablet mdc-layout-grid__cell--span-4-phone">
                <div class="header-text mdc-typography--display2 vcenter name-header-text">MICHAEL BAO</div>
            </div>

            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4 mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone">
                <img src="/static/images/profile.jpg" class="profile-img mdc-elevation--z18 vcenter center"></img>
            </div>

            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4 mdc-layout-grid__cell--span-2-tablet mdc-layout-grid__cell--span-4-phone">
                <div class="header-text vcenter job-header-text mdc-typography--display2" id="job-text">
                </div>
            </div>
        </div>

        <div class="mdc-layout-grid">
            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-2 mdc-layout-grid__cell--span-2-tablet mdc-layout-grid__cell--span-1-phone">
                <div class="section-header-text mdc-typography--headline">ABOUT ME</div>
            </div>
            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-10 mdc-layout-grid__cell--span-6-tablet mdc-layout-grid__cell--span-3-phone">
                <div class="body-text mdc-typography--body2">
                    Hi! My name is Michael Bao. Currently, I am a co-founder of <a href="https://www.squadov.gg">SquadOV</a>. I graduated from Stanford University with a Ph.D. and was advised by <a href="http://physbam.stanford.edu/~fedkiw">Professor Ronald Fedkiw</a>. My current reseach interests were in combining techniques from video games and visual effects with computer vision and machine learning to increase the ability of machines to detect, recognize, and understand their surroundings. During my Ph.D., I worked part-time at Industrial Light &amp; Magic as an Associate R&amp;D Engineer, and I am in the credits of Martin Scorsese's <a href="https://www.ilm.com/vfx/the-irishman-credits/">The Irishman</a>.

                    <p>I graduated from the <a href="http://www.berkeley.edu">University of California, Berkeley</a> in May 2014 with a Bachelor of Science in Electrical Engineering and Computer Sciences. During my time at Berkeley, I had the pleasure of working with <a href="http://www.cs.cmu.edu/~./treuille">Professor Adrien Treuille</a> and <a href="http://daslab.stanford.edu">Professor Rhiju Das</a> on <a href="http://eterna.stanford.edu">EteRNA</a> as well as EteRNA's collaboration with <a href="http://www.pbs.org/wgbh/nova/labs/lab/rna/">NOVA</a>. Additionally, I was the Lead Programmer on <a href="http://www.tornbanner.com/chivalry">Chivalry: Medieval Warfare</a> which has gone on to sell more than two million copies. In high school, I had the opportunity to work with <a href="https://web.njit.edu/~wangj/">Dr. Jason Tsong-Li Wang</a> in bioinformatics.</p>

                    <p>My hobbies include scuba diving, Brazilian Jiu-Jitsu, and playing video games.</p>

                    <p>I was supported by a VMWare fellowship for the 2017-2018 academic year.</p>
                </div>
            </div>
                </div>
            </div>
        </div>

        <div class="mdc-layout-grid section-bg">
            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-2 mdc-layout-grid__cell--span-2-tablet mdc-layout-grid__cell--span-1-phone">
                <div class="section-header-text mdc-typography--headline">EXPERIENCE</div>
            </div>
            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-10 mdc-layout-grid__cell--span-6-tablet mdc-layout-grid__cell--span-3-phone">
                <div class="body-text mdc-typography--body2">
                    <div class="mdc-card card">
                        <section class="mdc-card__primary">
                            <a href="https://www.squadov.gg"><h1 class="mdc-card__title mdc-card__title--large card-title">SquadOV (previosly GRCHive)</h1></a>
                            <h2 class="mdc-card__subtitle card-subtitle">2020 - Present</h2>
                        </section>
                        <section class="mdc-card__supporting-text card-body">
                            Co-Founder
                        </section>
                    </div>


                    <div class="mdc-card card">
                        <section class="mdc-card__primary">
                            <h1 class="mdc-card__title mdc-card__title--large card-title">Industrial Light &amp; Magic</h1>
                            <h2 class="mdc-card__subtitle card-subtitle">2017 - 2019</h2>
                        </section>
                        <section class="mdc-card__supporting-text card-body">
                            Associate R&amp;D Engineer
                        </section>
                    </div>
                    
                    <div class="mdc-card card">
                        <section class="mdc-card__primary">
                            <h1 class="mdc-card__title mdc-card__title--large card-title">Google</h1>
                            <h2 class="mdc-card__subtitle card-subtitle">Summer 2016</h2>
                        </section>
                        <section class="mdc-card__supporting-text card-body">
                            Software Engineering Intern
                        </section>
                    </div>
                    
                    <div class="mdc-card card">
                        <section class="mdc-card__primary">
                            <h1 class="mdc-card__title mdc-card__title--large card-title">Adobe</h1>
                            <h2 class="mdc-card__subtitle card-subtitle">2015 - 2016</h2>
                        </section>
                        <section class="mdc-card__supporting-text card-body">
                            Mobile Software Engineer Intern
                        </section>
                    </div>
                    
                    <div class="mdc-card card">
                        <section class="mdc-card__primary">
                            <h1 class="mdc-card__title mdc-card__title--large card-title">Stanford University</h1>
                            <h2 class="mdc-card__subtitle card-subtitle">2014 - Present</h2>
                        </section>
                        <section class="mdc-card__supporting-text card-body">
                            Research Assistant
                        </section>
                    </div>
                    
                    <div class="mdc-card card">
                        <section class="mdc-card__primary">
                            <h1 class="mdc-card__title mdc-card__title--large card-title">Carnegie Mellon University</h1>
                            <h2 class="mdc-card__subtitle card-subtitle">2013 - 2014</h2>
                        </section>
                        <section class="mdc-card__supporting-text card-body">
                            Research Associate I
                        </section>
                    </div>
                    
                    
                    <div class="mdc-card card">
                        <section class="mdc-card__primary">
                            <h1 class="mdc-card__title mdc-card__title--large card-title">Torn Banner Studios</h1>
                            <h2 class="mdc-card__subtitle card-subtitle">2010 - 2013</h2>
                        </section>
                        <section class="mdc-card__supporting-text card-body">
                            Lead Programmer
                        </section>
                    </div>
                </div>
            </div>
        </div>
           
        <div class="mdc-layout-grid">
            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-2 mdc-layout-grid__cell--span-2-tablet mdc-layout-grid__cell--span-1-phone">
                <div class="section-header-text mdc-typography--headline">PUBLICATIONS</div>
            </div>
            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-10 mdc-layout-grid__cell--span-6-tablet mdc-layout-grid__cell--span-3-phone">
                <div class="body-text mdc-typography--body2">
                    <div class="mdc-card card">
                        <div class="mdc-card__horizontal-block">
                            <img class="mdc-card__media-item card-image desktop-only" src="/static/images/bmo_thumbnail.png">
                            <div>
                                <section class="mdc-card__primary">
                                    <h1 class="mdc-card__title mdc-card__title--large card-title">High-Quality Face Capture Using Anatomical Muscles</h1>
                                    <h2 class="mdc-card__subtitle card-subtitle"><b>Michael Bao</b>, Matthew Cong, St&eacute;phane Grabli, Ronald Fedkiw</h2>
                                </section>
                                <section class="mdc-card__supporting-text card-body">
                                    CVPR 2019. arXiv:1812.02836. December 2018.
                                </section>

                                <section class="mdc-card__actions">
                                    <a 
                                        href="http://openaccess.thecvf.com/content_CVPR_2019/html/Bao_High-Quality_Face_Capture_Using_Anatomical_Muscles_CVPR_2019_paper.html"
                                        class="mdc-button mdc-button--raised mdc-button--primary mdc-button--compact mdc-card__action" data-mdc-auto-init="MDCRipple"
                                    >
                                        CVPR
                                    </a>

                                    <a href="/static/papers/bmo_for_website.pdf" class="mdc-button mdc-button--raised mdc-button--primary mdc-button--compact mdc-card__action" data-mdc-auto-init="MDCRipple">
                                        Paper
                                    </a>

                                    <a href="https://arxiv.org/abs/1812.02836" class="mdc-button mdc-button--raised mdc-button--primary mdc-button--compact mdc-card__action" data-mdc-auto-init="MDCRipple">
                                        arXiv
                                    </a>
                                </section>
                            </div>
                        </div>
                    </div>
                    
                    <div class="mdc-card card">
                        <div class="mdc-card__horizontal-block">
                            <img class="mdc-card__media-item card-image desktop-only" src="/static/images/jco_thumbnail.png">
                            <div>
                                <section class="mdc-card__primary">
                                    <h1 class="mdc-card__title mdc-card__title--large card-title">Improved Search Strategies for Determining Facial Expression</h1>
                                    <h2 class="mdc-card__subtitle card-subtitle"><b>Michael Bao</b>, Xinru Hua, Ronald Fedkiw</h2>
                                </section>
                                <section class="mdc-card__supporting-text card-body">
                                    arXiv:1812.02897. December 2018.
                                </section>

                                <section class="mdc-card__actions">
                                    <a href="/static/papers/jco_for_website.pdf" class="mdc-button mdc-button--raised mdc-button--primary mdc-button--compact mdc-card__action" data-mdc-auto-init="MDCRipple">
                                        Paper
                                    </a>

                                    <a href="https://arxiv.org/abs/1812.02897" class="mdc-button mdc-button--raised mdc-button--primary mdc-button--compact mdc-card__action" data-mdc-auto-init="MDCRipple">
                                        arXiv
                                    </a>
                                </section>
                            </div>
                        </div>
                    </div>
 
                    <div class="mdc-card card">
                        <div class="mdc-card__horizontal-block">
                            <img class="mdc-card__media-item card-image desktop-only" src="/static/images/def_thumbnail.png">
                            <div>
                                <section class="mdc-card__primary">
                                    <h1 class="mdc-card__title mdc-card__title--large card-title">Deep Energies for Estimating Three-Dimensional Facial Pose and Expression</h1>
                                    <h2 class="mdc-card__subtitle card-subtitle"><b>Michael Bao</b>, Jane Wu, Xinwei Yao, Ronald Fedkiw</h2>
                                </section>
                                <section class="mdc-card__supporting-text card-body">
                                    arXiv:1812.02899. December 2018.
                                </section>

                                <section class="mdc-card__actions">
                                    <a href="/static/papers/def_for_website.pdf" class="mdc-button mdc-button--raised mdc-button--primary mdc-button--compact mdc-card__action" data-mdc-auto-init="MDCRipple">
                                        Paper
                                    </a>

                                    <a href="https://arxiv.org/abs/1812.02899" class="mdc-button mdc-button--raised mdc-button--primary mdc-button--compact mdc-card__action" data-mdc-auto-init="MDCRipple">
                                        arXiv
                                    </a>
                                </section>
                            </div>
                        </div>
                    </div>
 
                    <div class="mdc-card card">
                        <div class="mdc-card__horizontal-block">
                            <img class="mdc-card__media-item card-image desktop-only" src="/static/images/bear_walk_bsh_water.png">
                            <div>
                                <section class="mdc-card__primary">
                                    <h1 class="mdc-card__title mdc-card__title--large card-title">A Skinned Tetrahedral Mesh for Hair Animation and Hair-Water Interaction</h1>
                                    <h2 class="mdc-card__subtitle card-subtitle">Minjae Lee, David Hyde, <b>Michael Bao</b>, Ronald Fedkiw</h2>
                                </section>
                                <section class="mdc-card__supporting-text card-body">
                                    IEEE TVCG. 2018.
                                </section>

                                <section class="mdc-card__actions">
                                    <a href="/static/papers/hair_tet_water.pdf" class="mdc-button mdc-button--raised mdc-button--primary mdc-button--compact mdc-card__action" data-mdc-auto-init="MDCRipple">
                                        Paper
                                    </a>
                                </section>

                            </div>
                        </div>
                    </div>
                    

                    <div class="mdc-card card">
                        <div class="mdc-card__horizontal-block">
                            <img class="mdc-card__media-item card-image desktop-only" src="/static/images/automatic_face_models.jpg">
                            <div>
                                <section class="mdc-card__primary">
                                    <h1 class="mdc-card__title mdc-card__title--large card-title">Fully Automatic Generation of Anatomical Face Simulation Models</h1>
                                    <h2 class="mdc-card__subtitle card-subtitle">Matthew Cong, <b>Michael Bao</b>, Jane L E, Kiran S Bhat, Ronald Fedkiw</h2>
                                </section>
                                <section class="mdc-card__supporting-text card-body">
                                    Proceedings of the 14th ACM SIGGRAPH/Eurographics Symposium on Computer Animation. 2015.
                                </section>

                                <section class="mdc-card__actions">
                                    <a href="/static/papers/automatic_face_models.pdf" class="mdc-button mdc-button--raised mdc-button--primary mdc-button--compact mdc-card__action" data-mdc-auto-init="MDCRipple">
                                        Paper
                                    </a>
                                    <a href="videos/automatic_face_models.mp4" class="mdc-button mdc-button--raised mdc-button--primary mdc-button--compact mdc-card__action" data-mdc-auto-init="MDCRipple">
                                        Video
                                    </a>
                                </section>

                            </div>
                        </div>
                    </div>
                    
                    <div class="mdc-card card">
                        <div class="mdc-card__horizontal-block">
                            <img class="mdc-card__media-item card-image desktop-only" src="/static/images/ncrnascout.png">
                            <section>
                                <section class="mdc-card__primary">
                                    <h1 class="mdc-card__title mdc-card__title--large card-title">Searching for Non-coding RNAs in Genomic Sequences using ncRNAscout</h1>
                                    <h2 class="mdc-card__subtitle card-subtitle"><b>Michael Bao</b>, Miguel Cervantes Cervantes, Ling Zhong, Jason TL Wang</h2>
                                </section>
                                <section class="mdc-card__supporting-text card-body">
                                    Genomics, Proteomics &amp; Bioinformatics. 2012.
                                </section>

                                <section class="mdc-card__actions">
                                    <a href="/static/papers/ncrna.pdf" class="mdc-button mdc-button--raised mdc-button--primary mdc-button--compact mdc-card__action" data-mdc-auto-init="MDCRipple">
                                        Paper
                                    </a>
                                    <a href="http://bioinformatics.njit.edu/ncRNAscout/" class="mdc-button mdc-button--raised mdc-button--primary mdc-button--compact mdc-card__action" data-mdc-auto-init="MDCRipple">
                                        Website
                                    </a>
                                </section>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        
        <div class="mdc-layout-grid section-bg">
            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-2 mdc-layout-grid__cell--span-2-tablet mdc-layout-grid__cell--span-1-phone">
                <div class="section-header-text mdc-typography--headline">EDUCATION</div>
            </div>
            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-10 mdc-layout-grid__cell--span-6-tablet mdc-layout-grid__cell--span-3-phone">
                <div class="body-text mdc-typography--body2">
                   <div class="mdc-card card">
                        <div class="mdc-card__horizontal-block">
                            <img class="mdc-card__media-item card-image desktop-only" src="/static/images/stanford.png">
                            <div>
                                <section class="mdc-card__primary">
                                    <h1 class="mdc-card__title mdc-card__title--large card-title">Stanford University</h1>
                                    <h2 class="mdc-card__subtitle card-subtitle">2014 - 2019</h2>
                                </section>
                                <section class="mdc-card__supporting-text card-body">
                                    Ph.D. Computer Science.
                                </section>
                            </div>
                        </div>
                    </div>
                    
                    <div class="mdc-card card">
                        <div class="mdc-card__horizontal-block">
                            <img class="mdc-card__media-item card-image desktop-only" src="/static/images/berkeley.png">
                            <div>
                                <section class="mdc-card__primary">
                                    <h1 class="mdc-card__title mdc-card__title--large card-title">University of California, Berkeley</h1>
                                    <h2 class="mdc-card__subtitle card-subtitle">2011 - 2014</h2>
                                </section>
                                <section class="mdc-card__supporting-text card-body">
                                    B.S. Electrical Engineering and Computer Sciences.
                                </section>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="mdc-layout-grid">
            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-2 mdc-layout-grid__cell--span-2-tablet mdc-layout-grid__cell--span-1-phone">
                <div class="section-header-text mdc-typography--headline">TEACHING</div>
            </div>
            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-10 mdc-layout-grid__cell--span-6-tablet mdc-layout-grid__cell--span-3-phone">
                <div class="body-text mdc-typography--body2">
                    <div class="mdc-card card">
                        <section class="mdc-card__primary">
                            <h1 class="mdc-card__title mdc-card__title--large card-title">CS229A: Applied Machine Learning</h1>
                            <h2 class="mdc-card__subtitle card-subtitle">Spring 2019</h2>
                        </section>
                        <section class="mdc-card__supporting-text card-body">
                            Course Assistant for Andrew Ng.
                        </section>
                    </div>


                    <div class="mdc-card card">
                        <section class="mdc-card__primary">
                            <h1 class="mdc-card__title mdc-card__title--large card-title">CS248: Interactive Computer Graphics</h1>
                            <h2 class="mdc-card__subtitle card-subtitle">Winter 2016, Winter 2017</h2>
                        </section>
                        <section class="mdc-card__supporting-text card-body">
                            Course Assistant for Ronald Fedkiw.
                        </section>
                    </div>
                    
                    <div class="mdc-card card">
                        <section class="mdc-card__primary">
                            <h1 class="mdc-card__title mdc-card__title--large card-title">CS148: Introduction to Computer Graphics and Imaging</h1>
                            <h2 class="mdc-card__subtitle card-subtitle">Fall 2015, Fall 2016, Fall 2018</h2>
                        </section>
                        <section class="mdc-card__supporting-text card-body">
                            Course Assistant for Ronald Fedkiw.
                        </section>
                    </div>
               </div>
            </div>
        </div>

        <div class="mdc-layout-grid section-bg">
            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-2 mdc-layout-grid__cell--span-2-tablet mdc-layout-grid__cell--span-1-phone">
                <div class="section-header-text mdc-typography--headline">AWARDS, HONORS AND CREDITS</div>
            </div>
            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-10 mdc-layout-grid__cell--span-6-tablet mdc-layout-grid__cell--span-3-phone">
                <div class="body-text mdc-typography--body2">
                    <div class="mdc-card card">
                        <section class="mdc-card__primary">
                            <h1 class="mdc-card__title mdc-card__title--large card-title">The Irishman</h1>
                            <h2 class="mdc-card__subtitle card-subtitle">Software &amp; Technology, Industrial Light &amp; Magic</h2>
                        </section>
                    </div>

                    <div class="mdc-card card">
                        <section class="mdc-card__primary">
                            <h1 class="mdc-card__title mdc-card__title--large card-title">IBJJF San Francisco Open 2018 - 2nd Place</h1>
                            <h2 class="mdc-card__subtitle card-subtitle">White Belt, Adult, Middle Weight</h2>
                        </section>
                    </div>

                    <div class="mdc-card card">
                        <section class="mdc-card__primary">
                            <h1 class="mdc-card__title mdc-card__title--large card-title">VMWare Fellow</h1>
                            <h2 class="mdc-card__subtitle card-subtitle">2017 - 2018</h2>
                        </section>
                    </div>

                    <div class="mdc-card card">
                        <section class="mdc-card__primary">
                            <h1 class="mdc-card__title mdc-card__title--large card-title">Photoshop CC 2015.1</h1>
                            <h2 class="mdc-card__subtitle card-subtitle">Photoshop Intern, Adobe</h2>
                        </section>
                    </div>
                    
                    <div class="mdc-card card">
                        <section class="mdc-card__primary">
                            <h1 class="mdc-card__title mdc-card__title--large card-title">Chivalry: Medieval Warfare</h1>
                            <h2 class="mdc-card__subtitle card-subtitle">Lead Programmer, Torn Banner Studios</h2>
                        </section>
                    </div>
                </div>
            </div>
        </div>

        <div class="mdc-layout-grid footer">
            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12 mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
                <a href="https://www.twitter.com/b3h47pte"><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
                <a href="https://www.linkedin.com/in/mikehbao"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
                <a href="mailto:me@mikehbao.com" id="mailto-link"><i class="fa fa-envelope" aria-hidden="true"></i></a>
                <a href="https://github.com/b3h47pte/"><i class="fa fa-github" aria-hidden="true"></i></a>
                <a href="https://scholar.google.com/citations?user=j_ZoCfkAAAAJ&hl=en"><i class="ai ai-google-scholar-square" aria-hidden="true"></i></a>
            </div>
        </div>

        <script src="/static/node_modules/material-components-web/dist/material-components-web.js"></script>
        <script>mdc.autoInit()</script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="/static/script.js"></script>
    </body>
</html>
